<!DOCTYPE html>
<html ng-app="RWA.Web">
<head>    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:url" content="http://rwaconsorcio.com.br" />
    <meta property="og:image" content="http://rwaconsorcio.com.br/images/default/logo-rwa.svg">
    <meta property="og:type" content="website">
    <meta property="og:image:type" content="image/jpeg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="description" content="RWA Consórcio Cardoso vai ajudar você a escolher o plano que tiver os melhores prazos e valores para o seu bolso.">
    <meta name="keywords" content="Consórcio de Casa, Consórcio de Carro, Consórcio de Capital de Giro, Consórcio de Moto, Consórcio de Serviços, Consórcio de Caminhão">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta content='Fennec Fox Solutions' name='author' />

    <link rel="apple-touch-icon" sizes="57x57" href="~/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="~/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <title>@ViewData["Title"]</title>
    <script src="~/lib/modernizr/modernizr-custom.js" asp-append-version="true"></script>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/lib/swiper/dist/css/swiper.css" />        
        <link rel="stylesheet" href="~/lib/css-loading/loading.css" />    
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/site.mobile.css"  media="screen and (max-width: 767px)" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/lib/swiper/dist/css/swiper.min.css" />     
        <link rel="stylesheet" href="https://loading.io/css/loading.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.mobile.min.css" asp-append-version="true"  media="screen and (max-width: 767px)" />
    </environment>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400|Roboto+Slab" rel="stylesheet">
</head>
<body ng-cloak>

    <route-loading-indicator></route-loading-indicator>
    
    <nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="templateController">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed" ng-class="{'collapsed': isCollapsed}"  data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                    <img src="images/default/logo-rwa.svg" data-fallback="images/default/logo-rwa.png"  class="logo img-responsive">
                </a>
            </div>
            <div uib-collapse="isCollapsed" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#home" ng-click="fecharMenu()" du-smooth-scroll du-scrollspy duration="1500" offset="80" class="active text-xs-right">Home</a></li>
                    <li><a href="#como-fazer-consorcio" ng-click="fecharMenu()" du-smooth-scroll du-scrollspy duration="1500" offset="80" class="text-xs-right">Como Fazer</a></li>
                    <li><a href="#tipos-consorcio" ng-click="fecharMenu()" du-smooth-scroll du-scrollspy duration="1500" offset="80" class="text-xs-right">Consórcios</a></li>
                    <li><a href="#vantagens" ng-click="fecharMenu()" du-smooth-scroll du-scrollspy duration="1500" offset="80" class="text-xs-right">Vantagens</a></li>
                    <li><a href="#depoimentos" ng-click="fecharMenu()" du-smooth-scroll du-scrollspy duration="1500" offset="80" class="text-xs-right">Depoimentos</a></li>
                    <li><a href="#contato" ng-click="fecharMenu()" du-smooth-scroll du-scrollspy duration="1500" offset="80" class="text-xs-right">Contato</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="body-content">        
        @RenderBody()
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-12 text-xs-center">                    
                    <h3><span class="amarelo">|</span> RWA Consórcio Cardoso</h3>
                    <p>
                        Rua Santa Filomena, 234 Sala 105 <br>                        
                        Centro - São Bernardo do Campo - SP
                    </p>
                </div>
                <div class="col-md-4 col-xs-12 text-xs-center">                    
                    <h3><span class="amarelo">|</span> Entre em contato</h3>
                    <p>
                        <!-- <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;11 0000 - 0000 / 0000 - 0000 <br /> -->
                        <i class="fa fa-whatsapp" aria-hidden="true"></i>&nbsp;&nbsp;11 95487-6438 <br />
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;&nbsp;contato@@rwaconsorcio.com.br
                    </p>
                </div>
                <div class="col-md-4 col-xs-12 text-center">
                    <h3><span class="amarelo">|</span> Curta nosso Facebook</h3>
                    <!--Plugin Facebook-->
                    <div class="fb-page" data-href="https://www.facebook.com/rwaconsorciocardoso/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/rwaconsorciocardoso/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/rwaconsorciocardoso/">RWA Consórcio Cardoso</a></blockquote></div>
                    <div id="fb-root"></div><script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.10";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="text-left">&copy; Copyright 2017 - RWA Consórcio Cardoso. - Todos os direitos reservados.</p>
                    </div>
                    <div class="col-md-6">
                        <p class="text-right">
                            <span class="text-xs-center">Desenvolvido por:&nbsp;&nbsp;</span>
                            <a href="http://fennecfox.com.br" target="_blank">
                                <img src="images/default/logo-fennec-fox.png" />
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/swiper/dist/js/swiper.js"></script>
        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="~/lib/angular-bootstrap/ui-bootstrap.js"></script>
        <script src="~/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="~/lib/angular-scroll/angular-scroll.js"></script>
        <script src="~/lib/angular-messages/angular-messages.js"></script>
        <script src="~/lib/angular-input-masks/angular-input-masks-standalone.js"></script>
        <script src="~/clientapp/app.module.js" asp-append-version="true"></script>
        <script src="~/clientapp/app.route.js" asp-append-version="true"></script>
        <script src="~/clientapp/shared/route-spinner/routeSpinnerDirective.js" asp-append-version="true"></script>                
        <script src="~/clientapp/components/contato/contatoFactory.js" asp-append-version="true"></script> 
        <script src="~/clientapp/shared/config/configConstants.js" asp-append-version="true"></script> 
        <script src="~/clientapp/shared/template/templatecontroller.js" asp-append-version="true"></script> 
        <script src="~/clientapp/components/modal/servico/capitalGiroController.js" asp-append-version="true"></script> 
        <script src="~/clientapp/components/modal/depoimento/depoimentoController.js" asp-append-version="true"></script> 
        <script src="~/clientapp/components/home/homecontroller.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="~/lib/swiper/dist/js/swiper.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="~/lib/angular-bootstrap/ui-bootstrap.min.js"></script>
        <script src="~/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="~/lib/angular-scroll/angular-scroll.min.js"></script>
        <script src="~/lib/angular-messages/angular-messages.min.js"></script>
        <script src="~/lib/angular-input-masks/angular-input-masks-standalone.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
