<div class="modal-capital-giro">
    
        <div class="fechar-modal" ng-click="cancel()">
            <img src="../../images/default/icone-fechar.png" />
        </div>
            
        <div class="espaco-top-30">
            <div class="row">
                <div class="col-md-12">
                    <h2>Capital de Giro</h2>
                </div>              
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>O Capital de Giro é uma opção de empréstimo com pagamento parcelado, ideal para suprir as necessidades de caixa da sua empresa, que recebe o valor contratado de uma só vez e paga em parcelas, conforme o plano de pagamento escolhido.</p>
                    <p>Empresários de todo o país vem utilizando o sistema de consórcio como opção para o capital de giro, essa modalidade vem ganhando cada vez mais adeptos, podendo oferecer como garantia, Imóveis, veículos, máquinas e equipamentos através de Alienação Fiduciária, e o melhor não paga juros, apenas uma taxa administrativa, e pode levantar até 100% do valor de avaliação do bem a ser dado em garantia. </p>
                    <p>
                        <a class="botao-rwa center-block" du-smooth-scroll duration="1500" ng-click="cancel()" offset="80" href="#contato">Para saber mais, solicite um contato</a>
                    </p>
                </div>              
            </div>
        </div>                    
    </div>