body {
    /* padding-top: 85px;     */
    font-family: 'Roboto', sans-serif;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.spinner {
    z-index: 10000;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    text-align: center;    
}

.spinner img {
    position: relative;
    max-width: 100px;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */

.navbar-inverse {
    background-color: #fff;
    border-color: transparent;
}

.navbar-brand{
    height: auto;
    padding: 0;
}

img.logo{
    width: 100%;
}

nav ul.navbar-nav{
    float:right;
    padding-top: 20px;
}

nav.navbar-inverse .navbar-nav > li > a {
    text-transform: uppercase;
    color: #29292b;
    font-size: 15px;
}

nav.navbar-inverse .navbar-nav > li > a:before {
    content: '';
    width: 25%;
    height: 3px;
    background-color: #f4c81d;
    position: absolute;
    left: 0;
    right: 0;
    top: 4px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    transition: all 0.2s 0s ease-in-out;
}

nav.navbar-inverse .navbar-nav > li > a:hover:before, nav.navbar-inverse .navbar-nav > li > a.active:before{
    opacity: 1;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{
    color: #29292b;
}

#banner-principal.swiper-container {
    overflow: visible;
}

#banner-principal .swiper-pagination-bullets {
    right: 40px;    
    width: auto;
    left: inherit;
    bottom: 40px;
}

#banner-principal .swiper-pagination-bullets .swiper-pagination-bullet{
    display: block;
    margin: 5px 0;
    background: #fff;
    opacity: .8;
    width: 8px;
    height: 8px;
}

#banner-principal .swiper-pagination-bullets .swiper-pagination-bullet-active {
    opacity: 1;
    background: transparent;
    border: 2px #fff solid;
    width: 10px;
    height: 10px;
}

#banner-principal .swiper-slide {
    height: 580px;
    cursor: w-resize;
}

#banner-principal .slide-moto {
    background-image: url('../images/banner/banner-moto.jpg');
    background-size: cover;
}

#banner-principal .slide-carro {
    background-image: url('../images/banner/banner-carro.jpg');
    background-size: cover;
}

#banner-principal .painel-texto {
    background-color: rgba(255, 200, 0, 0.8);
    padding: 20px 30px 20px 30px;
    bottom: 60px;
    left: -30px;
    position: absolute;
    width: 525px;    
    height: auto;  
}

#banner-principal .painel-texto .botao-acao {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

#banner-principal .painel-texto h3 {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: bold;
    font-size: 26px;
    margin-left: 0;
    margin-bottom: 30px;
    color: #fff;
}

#banner-principal .painel-texto h3:before{
    content: '';
    width: 100px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 15px;
    right: 0;
    top: 25px;
    margin-left: 15px;
}

#banner-principal .painel-texto p {
    color: #fff;
}

#slide-depoimentos{
    margin-bottom: 30px;
}

#slide-depoimentos .swiper-slide {    
    background-color: #fff;
    cursor: w-resize;
}

#slide-depoimentos .swiper-slide img {
    margin-bottom: 20px;
}

#slide-depoimentos .swiper-pagination-bullets {
    right: 40px;    
    width: auto;
    left: inherit;
    bottom: 0;
}

#slide-depoimentos .swiper-pagination-bullets .swiper-pagination-bullet{    
    margin: 5px 3px;
    background: #c6c6c6;
    opacity: .8;
    width: 9px;
    height: 9px;
}

#slide-depoimentos .swiper-pagination-bullets .swiper-pagination-bullet-active {
    opacity: 1;
    background: transparent;
    border: 2px #c6c6c6 solid;
}

#slide-depoimentos h4 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 21px;
    margin-bottom: 5px;
}

#slide-depoimentos strong {
    text-transform: uppercase;
    font-size: 15px;
    color: #7f7f7f;
    margin-bottom: 10px;
    display: block;
}

#slide-depoimentos p {
    color: #3d3d3f;
}



p {
    font-weight: lighter;
    font-size: 17px;
}

h2 {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: bold;
    font-size: 26px;
    margin-left: 0;
    margin-bottom: 30px;
}

h2:before{
    content: '';
    width: 100px;
    height: 2px;
    background-color: #f4c81d;
    position: absolute;
    left: 0;
    right: 0;
    top: 4px;
    margin-left: 15px;
}

.painel-branco{
    padding: 40px 0 40px 0;
    background-color: #fff;
}

.painel-cinza {
    padding: 40px 0 40px 0;
    background-color: #fafafa;
}

img.img-vantagem{
    max-width: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
}

img.img-consorcio-servico{
    max-width: 320px;
    max-height: 340px;
}

.separador {
    z-index: 999;
    position: relative;
}

.separador:before{
    content: '';
    width: 3px;
    height: 50px;
    background-color: #f4c81d;
    position: absolute;
    left: 0;
    right: 0;    
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px;
}

.painel-contato {
    background-image: url('../images/default/background-contato.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0;
}

.painel-contato h2 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.painel-contato h2::before{
    opacity: 0;
}

.form-control{
    background-color: rgba(255, 255, 255, 0.25);
    border: none;
    height: 45px;
    border-radius: 25px;
    color: #fff;
    padding-left: 20px;
    line-height: 45px;
    padding-top: 10px;
}

textarea.form-control{
    line-height: normal;
    padding-top: 15px;
}

.form-rwa button[type=submit] {
    text-transform: uppercase;
    color: #fff;
    padding: 8px 100px;
    background-color: transparent;
    border: solid 3px rgba(255, 255, 255, 0.25);
    border-radius: 25px;    
    font-family: 'Roboto Slab', sans-serif;
}

input.form-control:focus, textarea.form-control:focus {
    box-shadow: none;
    border: 2px solid #f4c81d;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 16px;
    color: #fff !important;
    opacity:  1;
}

input::-moz-placeholder, textarea::-moz-placeholder { /* Firefox 19+ */
    font-size: 16px;
    color: #fff !important;
    opacity:  1;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* IE 10+ */
    font-size: 16px;
    color: #fff !important;
    opacity:  1;
}

input:-moz-placeholder, textarea:-moz-placeholder { /* Firefox 18- */
    font-size: 16px;
    color: #fff !important;
    opacity:  1;
}

footer {
    background-color: #171718;
    margin-bottom: 0;
    padding-top: 20px;    
    padding-bottom: 0;
}

footer h3 {
    font-family: 'Roboto Slab', sans-serif;
    text-transform: uppercase;
    color: #ededed;    
    font-size: 16px;
    font-weight: bold;
}

footer p {
    color: #ededed;    
    font-size: 14px;
}

footer .copyright {
    font-family: 'Roboto Slab', sans-serif;
    background-color: #151516;
    padding-top: 8px;
    padding: 0;
    margin-top: 20px;
}

footer .copyright p {
    color: #8c8c8c;
    padding: 0;
    margin: 10px;
    line-height: 32px;
}

span.amarelo{
    color: #f4c81d;
    margin-right: 2px;
}

.espaco-bot-30 {
    margin-bottom: 30px;
}

.espaco-bot-50 {
    margin-bottom: 50px;
}

.espaco-top-30 {
    margin-top: 30px;
}

.espaco-top-50 {
    margin-top: 50px;
}

.pd-left-0 {
    padding-left: 0 !important;
}

.pd-right-0 {
    padding-right: 0 !important;
}

.pd-top-30{
    padding-top: 30px;    
}

.pd-top-70{
    padding-top: 70px;    
}

.margin-left-0 {
    margin-left: 0 !important;
}

.margin-right-0 {
    margin-right: 0 !important;
}

.margin-top-0 {
    margin-top: 0 !important;
}

.margin-bottom-0 {
    margin-bottom: 0 !important;
}