body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-inverse {
    background-color: #fff;
    border-color: #9B9B9B;
}

.navbar-brand{
    height: auto;
    padding: 0;
}

img.logo{
    width: 100%;
}